@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#dadosDeEntrada {
	text-align: center;
}
#titulos{
	background: #CDDAAC url("assets/img/bkg_header.png") no-repeat left;
	min-height: 125px;
	height: auto;
	color: #106631;
}
#logo-shekinah{
	max-height: 40px;
}