.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.example-full-width {
  min-width: 50px;
  max-width: 250px;
  width: 100%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.tituloTabela{
	font-weight: bold;
	font-family: "Arial black", arial, sans-serif;
	color: #106631;
	font-variant: small-caps;
}
#calculo{
	margin: 1em;
}