<div id='dados'>
   <h4>INFORMAÇÕES NECESSÁRIAS PARA O CALCULO:</h4>
   <br>
   <div class="alert alert-warning" role="alert" [hidden]="anexoSelecionado!=4">
  		No Anexo IV o INSS é calculado fora do Simples Nacional - 20% sobre a folha de pagamento.
   </div>
   <div class="alert alert-warning" role="alert" [hidden]="anexoSelecionado!=5">
  		No Anexo V se o fator 'R' for maior ou igual a 0,28 você será tributado de acordo com as aliquotas do Anexo III.
   </div>
   
	   <mat-form-field color="warn" class="example-full-width">
	      <mat-select [(ngModel)]="anexoSelecionado" placeholder="Anexo">
		      <mat-option *ngFor="let a of anexo" value="{{a.id}}">
		         {{a.name}}
		      </mat-option>
	      </mat-select>
	   </mat-form-field>
	   <mat-form-field color="warn" class="example-full-width">
	      <input currencyMask [(ngModel)]="rbt12" matInput placeholder="Soma do faturamento dos últimos 12 meses" value="" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" (click)="$event.target.select()">
	   </mat-form-field>
	   
	   <mat-form-field color="warn" class="example-full-width">
	      <input currencyMask [(ngModel)]="faturamentoMes" matInput placeholder="Faturamento do mês atual:" value="" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" (click)="$event.target.select()">
	   </mat-form-field>
	   
	   <mat-form-field color="warn" [hidden]="anexoSelecionado!=5" class="example-full-width">
	      <input currencyMask [(ngModel)]="fp12"  matInput placeholder="Folha de Pagamento dos Últimos 12 Meses:" size="50" value="" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" (click)="$event.target.select()">
	   </mat-form-field>
   <br>
   <mat-checkbox color="warn" [(ngModel)]="st" id="checkboxST">Possui Substituiçao Tributária de ICMS <br>
   ou Retenção de ISS?</mat-checkbox>
   
   <br>
   
   <button mat-raised-button color="warn" (click)="calcularImposto(anexoSelecionado);" (click)="tabelaResultadoDoCalculo.renderRows()">Calcular</button>
   
   <br>
   
   <hr>
</div>

<div id='calculo'[hidden]="impostoDas==0">
   <h4>RESULTADO DO CALCULO:</h4>
   
   <br>
   
   <div class="example-container mat-elevation-z8">
   
      <mat-table #tabelaResultadoDoCalculo [dataSource]="tabelaResultadoDoCalculoDados">
      
	      <ng-container matColumnDef="aliquotaNominal">
	         <mat-header-cell *matHeaderCellDef class="tituloTabela"> Aliquota Nominal </mat-header-cell>
	         <mat-cell *matCellDef> {{(aliquotaNominal*100).toFixed(2)}}% </mat-cell>
	      </ng-container>
	      
	      <ng-container matColumnDef="fatorR">
	         <mat-header-cell *matHeaderCellDef class="tituloTabela"> Fator 'R' </mat-header-cell>
	         <mat-cell *matCellDef> {{fatorR.toFixed(2)}}</mat-cell>
	      </ng-container>
	      
	      <ng-container matColumnDef="aliquotaEfetiva">
	         <mat-header-cell *matHeaderCellDef class="tituloTabela"> Aliquota Efetiva </mat-header-cell>
	         <mat-cell *matCellDef> {{(aliquotaEfetiva*100).toFixed(2)}}% </mat-cell>
	      </ng-container>
	      
	      <ng-container matColumnDef="totalImposto">
	         <mat-header-cell *matHeaderCellDef class="tituloTabela"> Total do Imposto </mat-header-cell>
	         <mat-cell *matCellDef>R$ {{impostoDas.toFixed(2)}}</mat-cell>
	      </ng-container>
	      
	      <mat-header-row *matHeaderRowDef="tabelaResultadoDoCalculoColunas"></mat-header-row>
	      <mat-row *matRowDef="let row; columns: tabelaResultadoDoCalculoColunas;"></mat-row>
	      
      </mat-table>
      
   </div>
   
   <br>
   
   <h4>
      <label for="distribuicaoImposto">DISTRIBUIÇÃO DOS IMPOSTOS</label>
   </h4>
   
   <div class="example-container mat-elevation-z8">
      <mat-table #tabelaDistribuicaoDeImpopstos1 [dataSource]="tabelaDistribuicaoDeImpopstos1Dados">
      
	      <ng-container matColumnDef="IRPJ">
	         <mat-header-cell *matHeaderCellDef class="tituloTabela"> IRPJ </mat-header-cell>
	         <mat-cell *matCellDef> R$ {{irpj.toFixed(2)}} </mat-cell>
	      </ng-container>
	      
	      <ng-container matColumnDef="CSLL">
	         <mat-header-cell *matHeaderCellDef class="tituloTabela"> CSLL </mat-header-cell>
	         <mat-cell *matCellDef> R$ {{csll.toFixed(2)}} </mat-cell>
	      </ng-container>
	      
	      <ng-container matColumnDef="COFINS">
	         <mat-header-cell *matHeaderCellDef class="tituloTabela"> COFINS </mat-header-cell>
	         <mat-cell *matCellDef> R$ {{cofins.toFixed(2)}} </mat-cell>
	      </ng-container>
	      
	      <ng-container matColumnDef="PIS">
	         <mat-header-cell *matHeaderCellDef class="tituloTabela"> PIS </mat-header-cell>
	         <mat-cell *matCellDef>R$ {{pis.toFixed(2)}}</mat-cell>
	      </ng-container>
	      
	      <mat-header-row *matHeaderRowDef="tabelaDistribuicaoDeImpopstos1Colunas"></mat-header-row>
	      <mat-row *matRowDef="let row; columns: tabelaDistribuicaoDeImpopstos1Colunas;"></mat-row>
	      
      </mat-table>
      
      <mat-table #tabelaDistribuicaoDeImpopstos2 [dataSource]="tabelaDistribuicaoDeImpopstos2Dados">
      
	      <ng-container matColumnDef="CPP">
	         <mat-header-cell *matHeaderCellDef class="tituloTabela"> CPP </mat-header-cell>
	         <mat-cell *matCellDef> R$ {{cpp.toFixed(2)}} </mat-cell>
	      </ng-container>
	      
	      <ng-container matColumnDef="IPI">
	         <mat-header-cell *matHeaderCellDef class="tituloTabela"> IPI </mat-header-cell>
	         <mat-cell *matCellDef> R$ {{ipi.toFixed(2)}} </mat-cell>
	      </ng-container>
	      
	      <ng-container matColumnDef="ICMS">
	         <mat-header-cell *matHeaderCellDef class="tituloTabela"> ICMS </mat-header-cell>
	         <mat-cell *matCellDef> R$ {{icms.toFixed(2)}} </mat-cell>
	      </ng-container>
	      
	      <ng-container matColumnDef="ISS">
	         <mat-header-cell *matHeaderCellDef class="tituloTabela"> ISS </mat-header-cell>
	         <mat-cell *matCellDef>R$ {{iss.toFixed(2)}}</mat-cell>
	      </ng-container>
	      
	      <mat-header-row *matHeaderRowDef="tabelaDistribuicaoDeImpopstos2Colunas"></mat-header-row>
	      <mat-row *matRowDef="let row; columns: tabelaDistribuicaoDeImpopstos2Colunas;"></mat-row>
	      
      </mat-table>
       	  
   </div>
   
   <hr>
   
</div>
<div id='rodape'>

   <h6>Todos os Direitos reservado a Ubiratan Leitão Mourão - com patrocinio de <img alt="Shekinah Contabilidade" src="assets\img\shekinah-contabilidade-logo.png" id='logo-shekinah'></h6>
   
</div>