/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
	text-align: center;
	background-color: #F9FFF2;
}
#anuncio {
	position: relative;
	width: 100%;
	height: 15%;
}
h1,h3{
	font-weight: normal;
}